.disabled-link {
	pointer-events: none; /* Prevents click events */
	color: gray; /* Visual cue for disabled state */
	cursor: default;
	text-decoration: none;
}
.full-width {
	width: 100%;
	min-width: 0;
	box-sizing: border-box;
}

/* Dark Mode Detection */
@media (prefers-color-scheme: dark) {
	body {
		background-color: #121212;
		color: #ffffff;
	}
	/* Add more dark mode styles here as needed */
}